.ragistration-section .container .row {
  position: relative;
}
.ragistration-section .container .row .border {
  height: 100%;
  border-left: 1px solid #715b3e;
  border-right: 1px solid #715b3e;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.ragistration-section .container .row .border .sub-border {
  width: 20%;
  border-left: 1px solid #21221e;
}
.ragistration-section .container .row .content {
  padding: 100px 50px;
  position: relative;
  z-index: 5;
}
.ragistration-section .container .row .content .heading {
  padding-bottom: 50px;
  justify-content: space-between;
}
.ragistration-section .container .row .content .heading h3 {
  font-size: 19px;
  line-height: 1.52em;
  letter-spacing: 0.23em;
  color: #c9ab81;
}
.ragistration-section .container .row .content .heading p i {
  padding: 0px 20px;
  color: #c9ab81;
}
.ragistration-section .container .row .content .form-box {
  justify-content: center;
}
.ragistration-section .container .row .content .form-box form {
  transition: all 0.5s;
  width: 67%;
}
.ragistration-section .container .row .content .form-box form:hover {
  border: 1px solid #c9ab81;
}
.ragistration-section .container .row .content .form-box form h2 {
  padding: 25px;
  width: 100%;
  text-align: center;
  font-size: 45px;
  line-height: 1.31em;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-transform: uppercase;
  color: #c9ab81;
}
.ragistration-section .container .row .content .form-box form .input-box {
  width: 50%;
  padding: 5px 15px;
}
.ragistration-section .container .row .content .form-box form .input-box label {
  display: block;
  padding-bottom: 5px;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
}
.ragistration-section .container .row .content .form-box form .input-box input {
  display: inline-block;
  width: 100%;
  font-size: 19px;
  color: #fff;
  padding: 14px;
  background: transparent;
  border: 1px solid #715b3e;
}
.ragistration-section .container .row .content .form-box form .textarea-box {
  padding: 15px;
  width: 100%;
}
.ragistration-section .container .row .content .form-box form .textarea-box label {
  display: block;
  padding-bottom: 5px;
  font-size: 19px;
  font-weight: 300;
  line-height: 29px;
  color: #fff;
}
.ragistration-section .container .row .content .form-box form .textarea-box textarea {
  resize: vertical;
  width: 100%;
  font-size: 19px;
  color: #fff;
  padding: 14px;
  background: transparent;
  border: 1px solid #715b3e;
}
.ragistration-section .container .row .content .form-box form .checkbox {
  padding: 10px 0px 25px 15px;
  align-items: center;
  width: 100%;
}
.ragistration-section .container .row .content .form-box form .checkbox input {
  width: -moz-max-content;
  width: max-content;
}
.ragistration-section .container .row .content .form-box form .checkbox label {
  padding-left: 10px;
  padding-top: 0px;
}
.ragistration-section .container .row .content .form-box form .btn {
  width: 100%;
  padding: 25px 0px;
  align-items: center;
  justify-content: center;
}
.ragistration-section .container .row .content .form-box form .btn button {
  display: inline-block;
  font-size: 17px;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #c9ab81;
  padding: 9px 35px;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.ragistration-section .container .row .content .form-box form .btn button::after {
  position: absolute;
  z-index: -1;
  left: 79px;
  top: -56px;
  content: "";
  rotate: 154deg;
  content: "";
  width: 0px;
  transition: all 0.5s;
  height: 150px;
  background-color: rgb(255, 255, 255);
}
.ragistration-section .container .row .content .form-box form .btn button::before {
  z-index: -1;
  position: absolute;
  height: 150px;
  background-color: rgb(255, 255, 255);
  top: -50px;
  right: 82px;
  transition: all 0.5s;
  content: "";
  rotate: 154deg;
  width: 0px;
}
.ragistration-section .container .row .content .form-box form .btn button:hover {
  color: black;
}
.ragistration-section .container .row .content .form-box form .btn button:hover::after {
  width: 150px;
}
.ragistration-section .container .row .content .form-box form .btn button:hover::before {
  width: 150px;
}

@media (max-width: 991px) {
  .ragistration-section .container .row .content {
    padding: 50px;
  }
  .ragistration-section .container .row .content .form-box form {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .ragistration-section .container .row .content {
    padding: 50px;
  }
  .ragistration-section .container .row .content .heading {
    padding-bottom: 0px;
  }
  .ragistration-section .container .row .content .form-box form {
    width: 100%;
  }
  .ragistration-section .container .row .content .form-box form h2 {
    font-size: 35px;
  }
  .ragistration-section .container .row .content .form-box form .input-box label {
    font-size: 16px;
  }
  .ragistration-section .container .row .content .form-box form .input-box input {
    padding: 10px;
    font-size: 14px;
  }
  .ragistration-section .container .row .content .form-box form .textarea-box label {
    font-size: 16px;
  }
  .ragistration-section .container .row .content .form-box form .textarea-box textarea {
    padding: 10px;
    font-size: 14px;
  }
  .ragistration-section .container .row .content .form-box form .btn button {
    letter-spacing: 2px;
    padding: 5px 30px;
  }
}
@media (max-width: 575px) {
  .ragistration-section .container .row .content .form-box form h2 {
    font-size: 30px;
  }
  .ragistration-section .container .row .content .form-box form .input-box {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .ragistration-section .container .row .content .heading h3 {
    font-size: 15px;
  }
  .ragistration-section .container .row .content .form-box form h2 {
    font-size: 25px;
  }
  .ragistration-section .container .row .content .form-box form .input-box {
    padding: 0px 15px;
  }
  .ragistration-section .container .row .content .form-box form .input-box label {
    font-size: 14px;
  }
  .ragistration-section .container .row .content .form-box form .input-box input {
    padding: 8px;
    font-size: 12px;
  }
  .ragistration-section .container .row .content .form-box form .textarea-box label {
    font-size: 14px;
  }
  .ragistration-section .container .row .content .form-box form .textarea-box textarea {
    padding: 8px;
    font-size: 12px;
  }
  .ragistration-section .container .row .content .form-box form .btn button {
    letter-spacing: 2px;
    padding: 5px 25px;
    font-size: medium;
  }
}/*# sourceMappingURL=ragistration.css.map */