.cartlist-section {
  .container {
    .row {
      position: relative;

      .border {
        height: 100%;
        border-left: 1px solid #715b3e;
        border-right: 1px solid #715b3e;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: -5;

        .sub-border {
          width: 20%;
          border-left: 1px solid #21221e;
        }
      }

      .content {
        position: relative;
        z-index: 5;

        .main-box {
          padding: 50px;

          .box {
            height: 180px;
            padding: 15px 0px;

            .content {
              height: 100%;

              .image {
                width: 10%;
                height: 100%;
                border-radius: 20px;
                transition: all 0.5s ease-in-out;

                img {
                  display: block;
                  height: 100%;
                  width: 100%;
                  border-radius: 20px;
                  transition: all 0.5s ease-in-out;
                }

              }

              .details {
                width: 90%;
                align-items: center;
                padding-left: 50px;

                ul {
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;

                  li {
                    align-items: center;
                    width: 20%;

                    button {
                      border: none;
                      display: inline-block;
                      padding: 5px;
                      position: relative;
                      transition: all 0.5s;
                      overflow: hidden;
                      background-color: transparent;

                      i {

                        color: white;
                        font-size: 30px;
                      }

                      &::after {
                        position: absolute;
                        z-index: -1;
                        left: 24px;
                        top: -33px;
                        content: "";
                        rotate: 130deg;
                        width: 0px;
                        transition: all 0.5s;
                        height: 100px;
                        background-color: red;
                      }

                      &::before {
                        z-index: -1;
                        position: absolute;
                        height: 100px;
                        background-color: rgb(255, 255, 255);
                        top: -31px;
                        right: 25px;
                        transition: all 0.5s;
                        content: "";
                        rotate: 134deg;
                        width: 0px;
                      }

                      &:hover {
                        i {
                          color: black;
                        }

                        &::after {
                          width: 100px;
                        }

                        &::before {
                          width: 100px;
                        }
                      }

                      &:nth-child(1) {
                        &::after {
                          background-color: green;
                        }
                      }
                    }

                    p {
                      padding: 0px 15px;
                    }
                  }
                }
              }
            }

            &:hover {
              .content {
                .image {
                  overflow: hidden;

                  border: 1px solid #715b3e;

                  img {
                    transform: scale(1.1);
                    opacity: 0.7;
                  }
                }
              }
            }


          }
        }

        .finalprice {
          height: max-content;
          justify-content: flex-end;
          padding-right: 10px;

          h5 {
            width: max-content;
            padding: 10px 30px;
            background: transparent;
            color: rgb(255, 255, 255);
            border: 1px solid #715b3e;
            margin-right: 5px;
          }

          button {

            display: inline-block;
            font-size: 17px;
            line-height: 2em;
            font-weight: 300;
            letter-spacing: .36em;
            text-transform: uppercase;
            color: #fff;
            background-color: transparent;
            border: 1px solid #c9ab81;
            padding: 9px 35px;
            position: relative;
            transition: all 0.5s;
            overflow: hidden;

            &::after {
              position: absolute;
              z-index: -1;
              left: 74px;
              top: -56px;
              content: "";
              rotate: 154deg;
              width: 0px;
              transition: all 0.5s;
              height: 150px;
              background-color: rgb(255, 255, 255);
            }

            &::before {
              z-index: -1;
              position: absolute;
              height: 150px;
              background-color: green;
              top: -50px;
              right: 74px;
              transition: all 0.5s;
              content: "";
              rotate: 154deg;
              width: 0px;
            }

            &:hover {
              color: black;

              &::after {
                width: 150px;
              }

              &::before {
                width: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:1199px) {}

@media (max-width:991px) {
  .cartlist-section {
    .container {
      .row {
        .content {
          .main-box {
            padding: 25px;

            .box {
              .content {
                .image {
                  width: 15%;
                }

                .details {
                  width: 85%;
                }
              }
            }
          }

          .finalprice {
            h5 {
              padding: 15px;
            }

            button {
              padding: 10px 15px;
              letter-spacing: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:767px) {
  .cartlist-section {
    .container {
      .row {
        .content {
          .main-box {
            padding: 25px;

            .box {
              .content {
                .image {
                  width: 20%;
                }

                .details {
                  width: 80%;

                  ul {
                    height: 100%;

                    li {
                      width: 50%;
                      justify-content: center;

                      p {
                        padding: 15px;
                      }
                    }
                  }
                }
              }
            }
          }

          .finalprice {
            h5 {
              font-size: 13px;
            }

            button {
              font-size: 13px;
              padding: 11px 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:575px) {
  .cartlist-section {
    .container {
      .row {
        .content {
          .main-box {
            padding: 25px;

            .box {
              .content {
                .image {
                  width: 25%;
                }

                .details {
                  width: 75%;

                  ul {

                    li {
                      width: 100%;
                      justify-content: start;

                      h5 {
                        padding: 0px 5px;
                      }

                      p {
                        padding: 0px 5px;
                      }
                    }
                  }
                }
              }
            }
          }

          .finalprice {
            justify-content: space-around;
            h5 {
              font-size: 13px;
            }

            button {
              font-size: 13px;
              padding: 11px 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:475px) {
  .cartlist-section {
    .container {
      .row {
        .content {
        

          .finalprice {
            h5 {
              font-size: 12px;
            }

            button {
              font-size: 10px;
              padding: 11px 15px;
            }
          }
        }
      }
    }
  }
}