.addtocart-section {
  position: relative;

  .video-box {
    width: 100%;
    position: absolute;
    top: -94px;
    left: 0px;

    video {
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  .bg-poster {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -94px;
    left: 50%;
    height: 50%;
    transform: translate(-50%);
    width: 50%;
    opacity: 1;

    img {
      display: block;
      width: 300px;
      height: 300px;
    }
  }

  .container {
    .row {
      position: relative;
      .border {
        height: 100%;
        border-left: 1px solid #715b3e;
        border-right: 1px solid #715b3e;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: -5;

        .sub-border {
          width: 20%;
          border-left: 1px solid #21221e;
        }
      }

      .content {
        position: relative;
        z-index: 5;

        .heading {
          height: 100vh;
          width: 100%;
          align-items: center;
          justify-content: center;
        }

        .main-box {
          width: 100%;
          padding-top: 100px;

          .box {
            width: 50%;

            .content {
              width: 100%;

              .image {
                width: 50%;
                padding: 50px;

                img {
                  display: block;
                  width: 100%;
                }
              }

              .details {
                width: 50%;

                marquee {
                  color: red;
                  font-size: 18px;
                }

                .title {
                  padding: 25px 0px;
                  justify-content: space-between;
                  color: #c9ab81;
                }

                .btn {
                  padding-top: 20px;

                  ul {
                    width: 100%;
                    justify-content: space-between;

                    li {
                      h5 {
                        padding: 5px 10px;
                      }

                      width: max-content;

                      &:nth-child(1) {
                        button {
                          &::before {
                            top: -31px;
                            right: 25px;
                            transition: all 0.5s;
                            content: "";
                            rotate: 134deg;
                          }

                          &::after {
                            left: 24px;
                            top: -33px;
                            content: "";
                            rotate: 130deg;
                          }

                          &:nth-child(1) {
                            &::before {
                              background-color: red;
                            }
                            &::after {
                              background-color: rgb(255, 255, 255);
                            }
                          }
                        }
                      }

                      button {
                        display: inline-block;
                        font-family: "Open Sans Condensed", sans-serif;
                        font-size: 14px;
                        line-height: 2em;
                        background-color: transparent;
                        color: white;
                        padding: 5px 20px;
                        font-weight: 300;
                        letter-spacing: .36em;
                        text-transform: uppercase;
                        border: 1px solid #c9ab81;
                        position: relative;
                        transition: all 0.5s;
                        overflow: hidden;

                        &::after {
                          position: absolute;
                          z-index: -1;
                          left: 67px;
                          top: -56px;
                          content: "";
                          rotate: 154deg;
                          content: '';
                          width: 0px;
                          transition: all 0.5s;
                          height: 100px;
                          background-color: rgb(255, 255, 255);
                        }

                        &::before {
                          z-index: -1;
                          position: absolute;
                          height: 100px;
                          background-color: green;
                          top: -21px;
                          right: 64px;
                          transition: all 0.5s;
                          content: "";
                          rotate: 154deg;
                          width: 0px;
                        }

                        &:hover {

                          color: black;

                          &::after {
                            width: 100px;
                          }

                          &::before {
                            width: 100px;
                          }
                        }

                      }
                    }
                  }
                }
              }

              form {
                padding-left: 15px;

                .input-box {
                  width: 100%;
                  padding: 5px 15px;



                  &:nth-child(1) {
                    justify-content: space-between;
                    align-items: center;

                    label {
                      width: 25%;
                      display: inline-block;
                      padding-bottom: 5px;
                      font-size: 19px;
                      font-weight: 300;
                      line-height: 29px;
                      color: #fff;
                    }

                    input {
                      display: inline-block;
                      width: 25%;
                      font-size: 19px;
                      color: #fff;
                      padding: 14px;
                      background: transparent;
                      border: 1px solid #715b3e;
                    }
                  }
                }

                .textarea-box {
                  padding: 15px;

                  label {
                    display: block;
                    padding-bottom: 5px;
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 29px;
                    color: #fff;
                  }

                  width: 100%;

                  textarea {
                    resize: vertical;
                    width: 100%;
                    font-size: 19px;
                    color: #fff;
                    padding: 14px;
                    background: transparent;
                    border: 1px solid #715b3e;
                  }

                }

                .btn {
                  width: 100%;
                  padding: 25px 0px;
                  align-items: center;
                  justify-content: center;

                  button {

                    display: inline-block;
                    font-size: 17px;
                    line-height: 2em;
                    font-weight: 300;
                    letter-spacing: .36em;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: transparent;
                    border: 1px solid #c9ab81;
                    padding: 9px 35px;
                    position: relative;
                    transition: all 0.5s;
                    overflow: hidden;

                    &::after {
                      position: absolute;
                      z-index: -1;
                      left: 74px;
                      top: -56px;
                      content: "";
                      rotate: 154deg;
                      content: '';
                      width: 0px;
                      transition: all 0.5s;
                      height: 150px;
                      background-color: rgb(255, 255, 255);
                    }

                    &::before {
                      z-index: -1;
                      position: absolute;
                      height: 150px;
                      background-color: green;
                      top: -50px;
                      right: 74px;
                      transition: all 0.5s;
                      content: "";
                      rotate: 154deg;
                      width: 0px;
                    }

                    &:hover {
                      color: black;
                      &::after {
                        width: 150px;
                      }

                      &::before {
                        width: 150px;
                      }
                    }
                  }
                }

                .form-box {

                  .box {
                    width: 50%;

                    .input-box {
                      width: 100%;
                      padding: 5px 15px;
                      padding-right: 0px;

                      label {
                        display: block;
                        padding-bottom: 5px;
                        font-size: 19px;
                        font-weight: 300;
                        line-height: 29px;
                        color: #fff;
                      }

                      input {
                        display: inline-block;
                        width: 100%;
                        font-size: 19px;
                        color: #fff;
                        padding: 10px;
                        background: transparent;
                        border: 1px solid #715b3e;
                      }
                    }

                    .image {
                      width: 100%;
                    }
                  }
                }
              }
            }

            &:nth-child(3) {
              padding: 50px 15px 50px 50px;
            }

            &:nth-child(4) {
              padding: 50px 50px 50px 15px;
            }

            video {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width:767px) {
  .addtocart-section{
    .container{
      .row{
        .content{
          .main-box{
            .box{
              .content{
                
              }
            }
          }
        }
      }
    }
  }
}