.addtocart-section .bg-shadow {
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: #21221e;
  height: 100%;
  transform: translate(-50%);
  width: 100%;
  opacity: 0.5;
  z-index: -5;
}
.addtocart-section .container .row {
  position: relative;
}
.addtocart-section .container .row .border {
  height: 100%;
  border-left: 1px solid #715b3e;
  border-right: 1px solid #715b3e;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: -6;
}
.addtocart-section .container .row .border .sub-border {
  width: 20%;
  border-left: 1px solid #21221e;
}
.addtocart-section .container .row .content {
  position: relative;
  z-index: 5;
}
.addtocart-section .container .row .content .main-box {
  width: 100%;
  padding-top: 10px;
}
.addtocart-section .container .row .content .main-box .box {
  width: 100%;
}
.addtocart-section .container .row .content .main-box .box .content {
  width: 100%;
}
.addtocart-section .container .row .content .main-box .box .content .image {
  width: 50%;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
.addtocart-section .container .row .content .main-box .box .content .image img {
  display: block;
  width: 50%;
}
.addtocart-section .container .row .content .main-box .box .content .details {
  width: 50%;
}
.addtocart-section .container .row .content .main-box .box .content .details marquee {
  color: rgb(255, 255, 255);
  font-size: 28px;
  padding: 10px;
}
.addtocart-section .container .row .content .main-box .box .content .details h2 {
  padding: 15px 0px;
}
.addtocart-section .container .row .content .main-box .box .content .details p {
  padding: 15px 0px;
  line-height: 30px;
}
.addtocart-section .container .row .content .main-box .box .content .details h5 {
  padding-top: 15px;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn {
  padding-top: 20px;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul {
  width: 100%;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li {
  padding: 15px 0px;
  width: -moz-max-content;
  width: max-content;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li h5 {
  padding: 5px 10px;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li:nth-child(1) button::before {
  top: -31px;
  right: 25px;
  transition: all 0.5s;
  content: "";
  rotate: 134deg;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li:nth-child(1) button::after {
  left: 24px;
  top: -33px;
  content: "";
  rotate: 130deg;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  line-height: 2em;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  font-weight: 300;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  border: 1px solid #c9ab81;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button::after {
  position: absolute;
  z-index: -1;
  left: 67px;
  top: -56px;
  content: "";
  rotate: 154deg;
  width: 0px;
  transition: all 0.5s;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button::before {
  z-index: -1;
  position: absolute;
  height: 100px;
  background-color: green;
  top: -21px;
  right: 64px;
  transition: all 0.5s;
  content: "";
  rotate: 154deg;
  width: 0px;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button:hover {
  color: black;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button:hover::after {
  width: 100px;
}
.addtocart-section .container .row .content .main-box .box .content .details .btn ul li button:hover::before {
  width: 100px;
}
.addtocart-section .container .row .content .main-box .box {
  width: 100%;
  height: 100%;
}
.addtocart-section .container .row .content .main-box .box video {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

@media (max-width: 991px) {
  .addtocart-section .container .row .content .main-box .box .content {
    padding: 10px;
  }
  .addtocart-section .container .row .content .main-box .box .content .image {
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details marquee {
    font-size: 18px;
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details h2 {
    font-size: 25px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details p {
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn {
    padding-top: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul {
    padding-top: 5px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul li {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .addtocart-section .bg-shadow {
    height: 448px;
  }
  .addtocart-section .container .row .content .main-box .box .content {
    padding: 10px;
  }
  .addtocart-section .container .row .content .main-box .box .content .image {
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details marquee {
    font-size: 16px;
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details h2 {
    font-size: 22px;
    padding: 5px 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details p {
    line-height: 23px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details h5 {
    padding-top: 10px;
  }
}
@media (max-width: 575px) {
  .addtocart-section .container .row .content .main-box {
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content {
    padding: 10px;
    padding-bottom: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .image {
    width: 40%;
  }
  .addtocart-section .container .row .content .main-box .box .content .details {
    width: 60%;
  }
  .addtocart-section .container .row .content .main-box .box .content .details marquee {
    font-size: 12px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details h2 {
    font-size: 18px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul {
    display: flex;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul li {
    width: 50%;
  }
}
@media (max-width: 475px) {
  .addtocart-section .bg-shadow {
    display: none;
  }
  .addtocart-section .container .row .content .main-box {
    padding: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content {
    padding: 10px;
    padding-bottom: 0px;
  }
  .addtocart-section .container .row .content .main-box .box .content .image {
    width: 100%;
    padding-bottom: 50px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details {
    width: 100%;
  }
  .addtocart-section .container .row .content .main-box .box .content .details marquee {
    font-size: 12px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details h2 {
    font-size: 18px;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul {
    display: flex;
  }
  .addtocart-section .container .row .content .main-box .box .content .details .btn ul li {
    width: 50%;
  }
}/*# sourceMappingURL=addtocart.css.map */